.module.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 29rem;
}


.text-group {
    align-self: flex-start;
    color: white;
    margin-bottom: 2.2rem;
}

.text-group>h1 {
    font-family: "Pretendard-SemiBold";
    font-size: 3rem;
}

.text-group>p {
    font-family: "pretendard-Medium";
    font-size: 1.7rem;
}


.img-box {
    background-color: white;
    position: relative;
    width: 100%;
    aspect-ratio: 13/9;
    margin-bottom: 3.2rem;
}

.img-box::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 4;
    box-shadow:
    inset 80px 0 45px -25px #121212,
    inset -80px 0 45px -25px #121212;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.moong-shadow {
    position: absolute;
    top: 78%;
    left: 20%;
    width: 60%;
    z-index: 2;
}

.moong {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    z-index: 3;
}


.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000 85%;
    font-family: "Pretendard-Medium";
    font-size: 1.1rem;
    background-color: #FEE500;
    width: 100%;
    height: 3rem;
    border-radius: 0.6rem;
    cursor: pointer;
}

.login-button:hover {
    background-color: #fee500c5;
}

.kakao-logo {
    width: 1.5rem;
    margin-right: 0.5rem;
}