.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 29rem;
}

/* 헤더 텍스트 */
.header {
    align-self: flex-start;
    color: white;
    margin-bottom: 1.8rem;
}

.title {
    font-family: "Pretendard-SemiBold";
    font-size: 3rem;
}

.subtitle {
    font-family: "pretendard-Medium";
    font-size: 1.7rem;
}

/* 입력창 */
.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    font-family: "Pretendard-Medium";
    margin-bottom: 1rem;
}

.input-label {
    font-size: 0.95rem;
}

.input-helptext {
    font-size: 0.57rem;
    color: #A1A1A1;
    margin-bottom: 0.3rem;
}

.input-wrapper {
    display: flex;
    width: 100%;
}

.input-box {
    width: 80%;
    background-color: #2C2C2C;
    border: 1px solid #2C2C2C;
    height: 2rem;
    margin-right: 2%;
    outline: none;
    color: white;
    font-size: 0.7rem;
    font-family: "Pretendard=Medium";
    padding-left: 0.3rem;
}

.input-box::placeholder {
    font-size: 0.7rem;
    font-family: "Pretendard=Medium";
    color: #A1A1A1;
}

.input-box:hover {
    border: 0.8px solid #0CD1EF;
}

.input-box:focus {
    border: 0.8px solid #0CD1EF;
}

.input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 0.7rem;
    background-color: #2C2C2C;
    cursor: pointer;
}

/* 배너 */
.banner-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12rem;
    background-color: #F7F7F7;
    margin-bottom: 2rem;
}

.banner-text {
    margin-left: 0.5rem;
}

.banner-label {
    color: #212121;
    font-family: "Pretendard-Bold";
    font-size: 1.7rem;
    margin-bottom: 0.2rem;
}

.banner-helptext {
    color: #A1A1A1;
    font-family: "Pretendard-Medium";
    font-size: 0.57rem;
}

.banner-image {
    position: relative;
    width: 13rem;
    height: 10rem;
    margin-right: 0.5rem;
}

.banner-image::after {
    content: "";
    position: absolute;
    z-index: 3;
    inset: 0;
    box-shadow: 
    inset 55px 0 30px -20px #F7F7F7,
    inset -55px 0 30px -20px #F7F7F7;
}

.moong-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.moong {
    position: absolute;
    left: 7%;
    top: -5%;
    width: 11rem;
    z-index: 2;
}

/* 회원가입 버튼 */
.signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #03C4FF, #2BFFB8);
    width: 100%;
    height: 3rem;
    color: black;
    font-family: "Pretendard-Medium";
    font-size: 1rem;
    cursor: pointer;
}

.signup-button:hover {
    background: linear-gradient(to right, #03c4ffc9, #2bffb8d2);
}