@import "tailwindcss";

/* 400 -> Regular (normal)
기본은 400을 건너뛰고 500부터 등록 (Medium) */
@font-face {
	font-family: 'Pretendard';
	src: url('./fonts/Pretendard-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src: url('./fonts/Pretendard-SemiBold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src: url('./fonts/Pretendard-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}


@theme {
	--font-sans: 'Pretendard', system-ui, sans-serif;
}


@theme {
	--color-custom-bg: #121212;
}

@theme {
	--color-custom-gray: #2C2C2C;
	--color-custom-hover-gray: #1A1A1A;
}

@theme {
	--color-custom-gradient-blue: #03C4FF;
	--color-custom-gradient-green: #2BFFB8;
}
